<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Login</title>
  </head>
  <body data-bs-theme="dark">
    <!-- navbar -->
    <%- include('./partials/navbar') %>
    <div class="container mt-3 w-50">
      <h1 class="text-center">SIGN IN</h1>
      <p class="text-center">
        DON'T HAVE AN ACCOUNT ? <a href="/auth/signup"> SIGN UP</a>
      </p>
      <div class="container">
        <form action="/auth/signin" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label">Email address *</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              aria-describedby="emailHelp"
              placeholder="example@gmail.com"
              required
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password *</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <%- include('./partials/script') %>
  </body>
</html>
